.navbar{
    background-color: #23180d;
    padding: 15px 0;

}

.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form_control{
    display: flex;
}
.form_control input{
    height: 40px;
    width: 240px;
    font-size: 24px;
}

.form_control button{
    display: none;
}